@media (max-width: 1440px) {

.desktop-header {
   padding: 10px 0;
}

section.home-page-main-section {
    margin-top: 78px;
}

.fix-side .img-1 img {
    margin-top: 5px;
}

.fix-side h6 {
    font: normal normal bold 19px/21px Montserrat;
    padding-bottom: 9px;
    margin-top: 6px;
    padding-top: 7px;
}


.shopping-cart .checkout-btn a {
    padding: 6px 0;
    font-size: 14px;
}

section.top-banner h6 {
    font: normal normal normal 53px/98px Montserrat;
}

.product-heading h6 {
    font-size: 35px;
}


.card-item .card-image img {
    width: 200px;
    height: 250px;
}
.card-item {
    padding: 30px 0;
}
.video-section-content p {
    font: normal normal 300 14px/26px Montserrat;
    padding: 0 0 15px;

}

.jasmine-content h6 {
    font: normal normal bold 50px/50px Montserrat;
}
.jasmine-content h2 {
    font: normal normal normal 30px/36px Montserrat;
}

.jasmine img {
    left: 0px;
}


.footer .footer-content p {
    font: normal normal 300 14px/30px Montserrat;
}

.fix-side .img-1 img {
    margin-top: 10px;
    height: 120px;
}

.fix-side h6 {
    padding-bottom: 0px;
}

.form-btn button {
    padding: 8px 24px;
}

.form-btn {
    padding-top: 9px;
}




.form-main-wrap {
    padding: 0px 15px 10px;
}


.form-main-wrap h6 {
    font: normal normal 600 24px/47px Montserrat;
    padding-top: 10px;
}



.news-main-wrap .inner-image img {
    height: 85px;
}







}
@media (max-width: 1200px) { }
@media (max-width: 992px) { }
@media (max-width: 768px) { }
@media (max-width: 576px) { }